{% extends 'base.html' %}

{% block title %}
 后台登录
{% endblock %}

{% block extCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        body{height:100%;background:#16a085;overflow:hidden;}
        canvas{z-index:-1;position:absolute;}
    </style>
{% endblock %}

{% block extJS%}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="/static/js/verificationNumbers.js"></script>
    <script src="{{ url_for('static', filename='js/Particleground.js') }}"></script>
    <script>
    $(document).ready(function() {
      //粒子背景特效
      $('body').particleground({
        dotColor: '#5cbdaa',
        lineColor: '#5cbdaa'
      });
      //验证码
      createCode();
      //测试提交，对接程序删除即可
      $(".submit_btn").click(function(){
          location.href="index.html";
          });
    });
    </script>
{% endblock %}

{% block content %}

<form action="" method="post">
 <dl class="admin_login">
  <dt>
   <strong>站点后台管理系统</strong>
   <em>Management System</em>
  </dt>
  <dd class="user_icon">
   <input type="text" name="username" placeholder="账号" class="login_txtbx"/>
  </dd>
  <dd class="pwd_icon">
   <input type="password" name="password" placeholder="密码" class="login_txtbx"/>
  </dd>
  <!--<dd class="val_icon">-->
   <!--<div class="checkcode">-->
     <!--<input type="text" id="J_codetext" placeholder="验证码" maxlength="4" class="login_txtbx">-->
     <!--<canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>-->
   <!--</div>-->
   <!--<input type="button" value="验证码核验" class="ver_btn" onClick="validate();">-->
  <!--</dd>-->
  <dd>
   <input type="submit" value="立即登录" class="submit_btn"/>
  </dd>
  <dd>
   <p>© 2015-2016 DeathGhost 版权所有</p>
   <p>陕B2-20080224-1</p>
  </dd>
 </dl>
</form>

{% endblock %}